{% post in colletions.posts %}
<div>
  <h2><a href="blog/{{post.name}}/index.html">{{pst.title}}</a></h2>
  <p></p>
  <p>{{post.long_description}}</p>
  <p><a href="blog/{{post.name}}/index.html">Read more</a></p>
</div>
{% endfor %}
