<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    {{#each collections.blogPosts}}
      <div style="margin-bottom: 30px;">
        <h2> {{this.title}} </h2>
      </div>
    {{/each}}
  </body>
</html>
