<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% if og_title %}<meta property="og:title" content="{{og_title}}">{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link href="../css/styles.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>Kyle Rush</h1>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about-kyle-rush">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/speaking">Speaking</a></li>
      </ul>
    </header>
    <div id="main">
    {% block content %}{% endblock %}
    </div><!--/#main-->
    <footer>
      <ul>
        <li><a href="">Twitter</a></li>
        <li><a href="">GitHub</a></li>
        <li><a href="">RSS</a></li>
      </ul>
    </footer>
  </body>
</html>
